---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Stopify - Clon de Spotify">
  <div
    id="playlist-container"
    class="relative transition-all duration-500 bg-green-600"
  >
  </div>
</Layout>

<style></style>
