---
import LibraryIcon from "@/icons/Library.astro";
import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import SideMenuItem from "@/components/SideMenuItem.astro";
import SideMenuCard from "@/components/SideMenuCard.astro";

import { playlists } from "@/lib/data";
---

<nav class="grid grid-rows-[auto_1fr] gap-2 h-full">
  <div class="bg-dark rounded-lg">
    <ul class="py-[8px] px-[12px]">
      <SideMenuItem href="/">
        <HomeIcon /> Inicio
      </SideMenuItem>
      <SideMenuItem href="/search">
        <SearchIcon /> Buscar
      </SideMenuItem>
    </ul>
  </div>
  <div
    class="bg-dark flex-1 rounded-lg grid overflow-hidden grid-rows-[auto_1fr]"
  >
    <header class="p-2">
      <button
        class="flex py-[8px] px-[16px] h-10 gap-5 items-center font-bold leading-tight-[0] text-white-2 hover:text-white-1"
      >
        <LibraryIcon /> Tu biblioteca
      </button>
    </header>
    <ul class="px-2 overflow-y-auto">
      {playlists.map((playlist) => <SideMenuCard playlist={playlist} />)}
    </ul>
  </div>
</nav>
