---
import LibraryIcon from "../icons/Library.astro";
import HomeIcon from "../icons/Home.astro";
import SearchIcon from "../icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-[var(--bg-color)] rounded-lg">
    <ul class="py-[8px] px-[12px]">
      <SideMenuItem href="/">
        <HomeIcon /> Inicio
      </SideMenuItem>
      <SideMenuItem href="/search">
        <SearchIcon /> Buscar
      </SideMenuItem>
    </ul>
  </div>
  <div class="bg-[var(--bg-color)] flex-1 rounded-lg">
    <header class="p-2">
      <button
        class="flex py-[8px] px-[16px] h-10 gap-5 items-center font-bold leading-tight-[0] text-[var(--txt-second)] hover:text-[var(--txt-primary)]"
      >
        <LibraryIcon /> Tu biblioteca
      </button>
    </header>
  </div>
</nav>
