---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li class="py-[4px] px-[12px]">
  <a
    href={href}
    class="flex h-[40px] gap-5 items-center font-bold leading-tight-[0] text-[var(--txt-second)] hover:text-[var(--txt-primary)]"
  >
    <slot />
  </a>
</li>
