---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<li class="py-[4px] px-[12px]">
  <a
    href={href}
    class="flex h-[40px] gap-5 items-center font-bold leading-tight-[0] text-white-2 hover:text-white-1"
  >
    <slot />
  </a>
</li>
